<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="table">
        <a th:href="@{/admin/payments/create}" class="btn btn-primary mb-3">Thêm Payment</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Đơn hàng</th>
                    <th>Người dùng</th>
                    <th>Phương thức</th>
                    <th>Trạng thái</th>
                    <th>Mã giao dịch</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="payment : ${payments}">
                    <td th:text="${payment.id}"></td>
                    <td th:text="${payment.order != null} ? ${payment.order.id} : 'N/A'"></td>
					<td th:text="${payment.order != null} ? ${payment.order.user.username} : 'N/A'"></td>
                    <td th:text="${payment.payment_method}"></td>
                    <td th:text="${payment.payment_status}"></td>
                    <td th:text="${payment.transaction_id}"></td>
                    <td>
                        <a th:href="@{/admin/payments/edit(id=${payment.id})}" class="btn btn-warning btn-sm">Sửa</a>
                        <a th:href="@{/admin/payments/delete(id=${payment.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc muốn xóa?')">Xóa</a>
                    </td>
                </tr>
            </tbody>
        </table>
	</div>
</body>
</html>