<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section th:fragment="banner" class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Welcome to FoodMart</h1>
                    <p>Fresh and organic food delivered to your doorstep</p>
                    <a href="/shop" class="btn btn-success">Shop Now</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>