<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section th:fragment="categories" class="categories py-5">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div
						class="section-header d-flex flex-wrap justify-content-between mb-5">
						<h2 class="section-title">Danh mục</h2>
						<div class="d-flex align-items-center">
							<a href="#" class="btn-link text-decoration-none">Tất cả danh mục →</a>
							<div class="swiper-buttons">
								<button
									class="swiper-prev category-carousel-prev btn btn-yellow">❮</button>
								<button
									class="swiper-next category-carousel-next btn btn-yellow">❯</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="category-carousel swiper">
						<div class="swiper-wrapper">
							<a th:each="category : ${categories}" 
						       th:href="@{'/shop?category=' + ${category.id}}" 
						       class="nav-link category-item swiper-slide">
						        <img th:src="@{'/images/' + ${category.icon}}" 
						             alt="Category Thumbnail">
						        <h3 class="category-title" th:text="${category.name}">Category Name</h3>
						    </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>